@import '../bower_components/skeleton-css/css/normalize.css';
@import '../bower_components/skeleton-css/css/skeleton.css';

$text-primary-color: #212121;
$text-secondary-color: #ffffff;
$panel-background-primary-color: #ffffff;
$accent-color: #03a9f4;

html {
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
  font-size: 16px;
  color: $text-primary-color;
}

html /deep/ paper-button[primary] {
  background-color: $accent-color;
  color: $text-secondary-color;
}


/* Generic Page Elements */
.container {
  margin: auto;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
}

.content__container {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 0;
  text-align: center;
}

.content__container h6 {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}


/* Generic Page Header Elements */
html /deep/ .page-header {
  text-align: center;
  height: 30vh;
  color: #fff
}

html /deep/ .page-quote {
  background-color: #fff;
  padding-top: 30px;
}


html /deep/ .header__container{
  height: 100%;
}

html /deep/ .header__container h1,h2,h3 {
  font-weight: 600;
  text-transform: uppercase;
}


/* Generic Contact Email Style */
html /deep/ .contact-email {
  font-size: 20px
}

html /deep/ .contact{
  background-color: #fff;
}


/* For mobile */
@media screen and (max-width: 500px) {

  body {
    font-size: 16px;
  }

  .content__container {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .content__container--who {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

}
