@import '../bower_components/skeleton-css/css/normalize.css';
@import '../bower_components/skeleton-css/css/skeleton.css';

$text-primary-color: #212121;
$text-secondary-color: #ffffff;
$panel-background-primary-color: #ffffff;
$accent-color: #03a9f4;

html {
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
  font-size: 15px;
  color: $text-primary-color;
}

html /deep/ paper-button[primary] {
  background-color: $accent-color;
  color: $text-secondary-color;
}

/* Profile Card List */
html /deep/ .person__dialog::shadow #scroller {
  height: 60vh;
  width: 90vw;
}

html /deep/ .person__dialog {
  position: fixed;
  top: 100px;
  right: 20px;
}

/** Main Panel Background **/
html /deep/ core-header-panel[main] {
  background-image: url('/images/desktop-bt.jpg');
  background-size: cover;
  background-position: center center;
}

.content-title {
  padding-top: 20px;
}

.container {
  margin: auto;
  padding-left: 24px;
  padding-right: 24px;
  // max-width: 768px;
  width: 100%;
}

.separator {
  display: block;
  width: 40%;
  border-top: 1px solid #ccc;
  margin: auto;
}

core-header-panel {
  background: #fff;
}

core-toolbar {
  background-color: #eee;
  color: #666;
}

.content__container {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 0;
  text-align: center;
}

.content__container h6 {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

ul {
    margin-left: 0px;
    padding-left: 20px;
}


/** Home page Header **/
html /deep/ .home__header {
  color: $text-secondary-color;
}

html /deep/ .header__container__image {
    height: 250px;
}

/** Site Footer **/
html /deep/ .lower-nav {
  background-color: transparent;
  color: #fff
}

html /deep/ a.lower-nav__link{
  color: #ddd;
  text-decoration:none;
  font-size: 16px;
  line-height:2;
}

html /deep/ .footer{
  background-color: $panel-background-primary-color;
  margin-bottom: 0px;
}

/** Floating Action Button */
html /deep/ .fab {
  position: relative;
  top: -28px;
  background-color: $panel-background-primary-color;
  color: $text-primary-color;
}


/* For mobile */
@media screen and (max-width: 500px) {

  html /deep/ .person__dialog {
    top: 50px;
  }

  html /deep/ .person__dialog::shadow #scroller {
    height: 80vh;
  }

  html /deep/ .header__container__image {
    height: 165px;
    margin-top: -20px;
  }

  nav-header::shadow span{
    font-size: 1.15em;
    padding-left: 0px;
  }

  .content__container {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .content__container--who {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

}
