<section class="services">
  <div class="container">

    <div class="row">

      <div class="col s12 flex">
        <div class="item">
          <i class="material-icons large red-text">people</i>
          <span>Step 1</span>
          <span>Contact Us</span>
        </div>

        <div class="item">
          <i class="material-icons large red-text">dashboard</i>
          <span>Step 2</span>
          <span>Plan</span>
        </div>

        <div class="item">
          <i class="material-icons large red-text">laptop_mac</i>
          <span>Step 3</span>
          <span>Build</span>
        </div>

        <div class="item">
          <i class="material-icons large red-text">flight_takeoff</i>
          <span>Step 4</span>
          <span>Launch</span>
        </div>
      </div>
    </div>
  </div>
</section>
