<header class="dark-color">
  <div class="container">
    <div class="row">
      <div class="col s12 center-align flex">
        <h3>About PKL</h3>
      </div>
    </div>
  </div>
</header>

<main>

  <section id="about" class="about">
    <div class="container">

      <h4>PowderKeg Labs (PKL)</h4>

      <p>PKL is a JavaScript software engineering consultancy specializing in rapid, iterative, feedback-driven, and data-driven development. We believe in the Lean methodology of "<i><b>launch fast, iterate faster</b></i>". Our goal is to deploy a version of your product, with only key features, as quickly as possible (the Minimum Viable Product). Then rapidly delivering new features on a continuous release cycle depending on user data and feedback.</p>

      <p>Our style of development allows you to really understand which features are important to your business, thereby reducing project costs and maintaining your budgets.</p>


      <br />
      <h4>Your Tech Team</h4>

      <p>PKL is your Chief Technology Officer and highly-skilled Agile development team. Along with being expert JavaScript developers, we provide strategic technical guidance to help your organization grow and succeed.</p>
      

      <br />
      <h4>The <i>Anti-Consultancy</i> Model</h4>

      <p>Fair warning, we take a practical, rational, and value-centric approach to our work. We look out for what's actually in your best interests. This means expressing our opinions regarding features we believe are unnecessary or should be deferred.</p>

      <blockquote><b><i>In fact, we'll often tell you to cut​ features instead of add them.</i></b></blockquote>

      <p>It’s an “anti-consultancy model”; developers typically push clients to add more features which translates to higher revenues for themselves. That's not what we do, we question whether a feature will bring you value. And you can use us as little or as much as you want.

      <p>Our clients seem to appreciate this - take a look at our <a href="/#testimonials">testimonials</a>. Because of this approach, we are selective about who we work with.</p>

    </div>
  </section>

</main>
