<header class="page-header">
  <div class="container">
    <div class="row">
      <div class="col s12 center-align flex">
        <h3>About PKL</h3>
      </div>
    </div>
  </div>
</header>

<main>

  <section id="about" class="about">
    <div class="container">
      <div class="col s12">
        <h4>PowderKeg Labs (PKL)</h4>
        <p>PKL is a JavaScript software engineering consultancy specializing in rapid, iterative, feedback-driven, and data-driven development. We believe in the Lean methodology of "<i><b>launch fast, iterate faster</b></i>". Our goal is to deploy a version of your product, with only key features, as quickly as possible (the Minimum Viable Product). Then rapidly delivering new features on a continuous release cycle depending on user data and feedback.</p>
        <p>Our style of development allows you to really understand which features are important to your business, thereby reducing project costs and maintaining your budgets.</p>
      </div>
    </div>
  </section>

  <section id="team" class="team grey lighten-5" >
    <div class="container">
      <%- partial('_shared_partials/member', {
        name: "JJ Hiew",
        role: "Founder",
        image: "/assets/images/team/jj_candid.jpg",
        description: "JJ is a full-stack JavaScript developer with over 10 years of experience as a CTO and solutions architect. He has worked on projects for clients such as IBM, GE and Castrol Wakefield. JJ graduated from UofT with a B.Sc in Computer Science. He’s obsessed with turning his love of delicious baked goods and technology into a billion dollar business.",
        alt: ""
       }) %>

      <%- partial('_shared_partials/member', {
        name: "Trevor Zeyl",
        role: "Advisor",
        image: "/assets/images/team/trevor.jpg",
        description: "Trevor is a business lawyer with the global law firm Norton Rose Fulbright Canada LLP, where he specializes in corporate finance and M&A. Trevor attended the University of Windsor and the London School of Economics where he attained his JD and LLM, respectively. When he’s not closing multi-million dollar deals he can be found sobbing at the latest Toronto Raptors loss.",
        alt: "alt"
      }) %>

      <%- partial('_shared_partials/member', {
        name: "Ben Zelikovitz",
        role: "Advisor",
        image: "/assets/images/team/ben.jpg",
        description: "Ben is a Director at Sitescout and has 10+ years of experience in Enterprise SaaS sales and operations. Prior to that, Ben was an Account Manager for Randstad Canada's technology recruiting division. Ben graduated from Wilfrid Laurier University with a B.A in Political Science. His heroes are Justin Bieber and Drake, in that order.",
        alt: ""
      }) %>

    </div>
  </section>

</main>
