<header class="page-header">
  <div class="container">
    <div class="row">
      <div class="col s12 center-align flex">
        <h3>Contact</h3>
      </div>
    </div>
  </div>
</header>

<main>

  <section id="contact" class="page">
    <div class="container">
        <div class="row">
          <div class="col s12">
              <h4>Want to work with us?</h4>
              <p>Send an email to <a href="mailto:kaboom@powderkeglabs.com">kaboom@powderkeglabs.com</a> and ...</p>
              <ul class="contact-collection">
                <li>Tell us about your company and what it does (or what it will do)</li>
                <li>Describe the problems you're having in a few short sentences</li>
              </ul>
              <p>We'll get back to you within 24 hours.</p>
          </div>
        </div>
      </div>
    </div>
  </section>


</main>
