<header class="index-header">
  <div class="flex header-fill-overlay">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <h3 class="uvp">Launch fast, Iterate Faster</h3>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <p class="lead-in">We are your Chief Technology Officer and highly-skilled Agile development team. Along with being expert JavaScript developers, we provide strategic technical guidance to help your organization grow and succeed.</p>
        </div>
      </div>
      <div class="row">
        <div class="col s12 center-align">
          <a href="/contact.html" class="btn-large waves-effect waves-light red darken-1">Contact Us</a>
        </div>
      </div>
    </div>
  </div>
</header>

<main>





  <%//- partial('_shared_partials/services')
  %>

  <section class="projects grey lighten-4">
    <div class="container">
      <div class="row">
        <div class="col s12 center-align">
          <!--<h3>Featured Projects</h3>-->
        </div>
      </div>
      <%- partial('_shared_partials/project', {
          name: "Quorum",
          url: "http://www.getquorum.com",
          image: "/assets/images/work/quorum_hero.png",
          description: "Easily achieve quorum at your condominium's owner meetings with our simple, secure, and legally valid electronic proxy forms. You'll never have to adjourn important meetings, ever.",
          alt: null
        }) %>
    </div>
  </section>

  <div class="divider"></div>

  <section class="projects grey lighten-4">
    <div class="container">
      <%- partial('_shared_partials/project', {
          name: "Visory (beta)",
          url: "",
          image: "/assets/images/work/visory.jpg",
          description: "Find a tech advisor. We connect you with the best developers, technical founders, and technology experts in Toronto to help your organization solve it's challenges.",
          alt: 'alt'
        }) %>
    </div>
  </section>

  <div class="divider"></div>

  <section class="projects">
    <div class="container">
      <%- partial('_shared_partials/project', {
          name: "Clover Awards",
          url: "/blog/cloverawards.html",
          image: "/assets/images/work/clover/clover_home_mentor_mbp.jpg",
          description: "A crowd-powered social enterprise platform that rewards the commitment, effort and talent of everyday heroes through recognition and financial support for their individual causes.",
          alt: null
        }) %>
    </div>
  </section>

  <div class="divider"></div>

  <%- partial("_shared_partials/testimonials/testimonials", {}) %>

</main>
