<header class="index-header">
  <div class="flex header-fill-overlay">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <img src="/assets/images/pkl-logo-default.png" />
          <%# <h2 class="uvp">Expert Web and Mobile Software Developers</h2>%>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <p class="lead-in">Expert HTML5 Web and Mobile App Developers</p>
          <%# <h5 class="uvp">Expert Web and Mobile Software Developers</h5>%>
        </div>
      </div>
    </div>
  </div>
</header>

<main>





  <%//- partial('_shared_partials/services')
  %>

  <section class="projects grey lighten-4">
    <div class="container">
      <div class="row">
        <div class="col s12 center-align">
          <!--<h3>Featured Projects</h3>-->
        </div>
      </div>
      <%- partial('_shared_partials/project', {
          name: "Quorum",
          url: "/blog/electronic-condo-proxies.html",
          image: "/assets/images/work/quorum_hero.png",
          description: "Quorum - Electronic Proxy Forms For Condominium Shareholder Meetings",
          alt: null
        }) %>
    </div>
  </section>

  <div class="divider"></div>

  <section class="projects grey lighten-4">
    <div class="container">
      <%- partial('_shared_partials/project', {
          name: "Visory (beta)",
          url: "",
          image: "/assets/images/work/visory.jpg",
          description: "Find a tech advisor. We connect you with the best developers, technical founders, and technology experts in Toronto to help your organization solve it's challenges.",
          alt: 'alt'
        }) %>
    </div>
  </section>

  <div class="divider"></div>

  <section class="projects">
    <div class="container">
      <%- partial('_shared_partials/project', {
          name: "Clover Awards",
          url: "/blog/cloverawards.html",
          image: "/assets/images/work/clover/clover_home_mentor_mbp.jpg",
          description: "A crowd-powered social enterprise platform that rewards the commitment, effort and talent of everyday heroes through recognition and financial support for their individual causes.",
          alt: null
        }) %>
    </div>
  </section>

  <div class="divider"></div>

  <%- partial("_shared_partials/testimonials/testimonials", {}) %>

</main>
