<header class="index-header">
  <div class="flex header-fill-overlay">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <img class="index-header-logo" src="/assets/images/pkl-logo-default.png" />
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <h1 class="uvp">Expert HTML5 Web and Mobile App Developers</h1>
        </div>
      </div>
    </div>
  </div>
</header>

<main>

  <section class="pkl-approach">
    <div class="container">
      <div class="row flex">
        <div class="flex-text col">
          <h3>Approach</h3>
          <p class="text-muted">
            Launch fast, iterate faster. Using Lean development methodologies, we launch a high-quality market-ready product in weeks.
          </p>
        </div>
        <div class="flex-hero col">
          <div class="hero-img">
            <%# <img class="responsive-img" src="/assets/images/work/quorum_hero.png" />%>
            <i class="material-icons" style="font-size: 200px; opacity: .87; color: #365c8a">donut_small</i>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="pkl-simplicity grey lighten-5">
    <div class="container">
      <div class="row flex alt">
        <div class="flex-text col">
          <h3>Design</h3>
          <p class="text-muted">
            When it comes to the User Experience, simplicity always wins. We engineer our products with simplicity at the forefront.
          </p>
        </div>
        <div class="flex-hero col">
          <div class="hero-img">
            <img class="responsive-img" src="/assets/images/work/quorum_hero.png" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="pkl-technology">
    <div class="container">
      <div class="row flex">
        <div class="flex-text col">
          <h3>Technology</h3>
          <p class="text-muted">
            We speak JavaScript, the universal language of the Web. JS allows us to create high-quality, multi-platform apps in a short amount of time.
          </p>
        </div>
        <div class="flex-hero col">
          <div class="hero-img">
            <img class="responsive-img" src="/assets/images/logos.png" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="divider"></div>

  <%- partial("_shared_partials/testimonials/testimonials", {}) %>

</main>
