<header class="index-header">
  <div class="flex header-fill-overlay">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <img class="index-header-logo" src="/assets/images/pkl-logo-default.png" />
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <h1 class="uvp">Expert HTML5 Web and Mobile App Developers</h1>
        </div>
      </div>
    </div>
  </div>
</header>

<main>

  <section class="pkl-approach">
    <div class="container">
      <div class="row flex">
        <div class="flex-text col">
          <h3>Our Approach</h3>
          <p class="text-muted">
             Launch fast, iterate faster. Using Lean development methodologies, we launch a functional, market-ready product in weeks. We're the perfect team to build yor Minimum Viable Product.
          </p>
        </div>
        <div class="flex-hero col">
          <div class="hero-img">
            <img class="responsive-img" src="/assets/images/bml.png" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="pkl-simplicity grey lighten-5">
    <div class="container">
      <div class="row flex alt">
        <div class="flex-text col">
          <h3>Engineering</h3>
          <p class="text-muted">
            We build products that solve real problems. When designing the User Experience, we believe that simplicity <i>always</i> wins.
          </p>
        </div>
        <div class="flex-hero col">
          <div class="hero-img">
            <img class="responsive-img" src="/assets/images/work/quorum_hero.png" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="pkl-technology">
    <div class="container">
      <div class="row flex">
        <div class="flex-text col">
          <h3>Technology</h3>
          <p class="text-muted">
            We speak JavaScript, the universal language of the Web. JavaScript allows us to create high-quality, multi-platform apps in a short amount of time.
          </p>
        </div>
        <div class="flex-hero col">
          <div class="hero-img">
            <img class="responsive-img" src="/assets/images/logos.png" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <%-partial('_shared_partials/testimonials/testimonials', {}) %>



</main>
