<header class="index-header">
  <div class="flex header-fill-overlay">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <img class="index-header-logo" src="/assets/images/pkl-logo-default.png" />
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <h1 class="uvp">Expert HTML5 Web and Mobile App Developers</h1>
        </div>
      </div>
    </div>
  </div>
</header>

<main>

  <section class="pkl-approach">
    <div class="container">
      <div class="row flex">
        <div class="flex-text col">
          <h3>Approach</h3>
          <p class="text-muted">
            Launch fast, iterate faster. Using Lean development methodologies, we launch a high-quality market-ready product in weeks.
          </p>
        </div>
        <div class="flex-hero col">
          <div class="hero-img">
            <%# <img class="responsive-img" src="/assets/images/work/quorum_hero.png" />%>
            <i class="material-icons" style="font-size: 200px; opacity: .87; color: #365c8a">donut_small</i>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="pkl-simplicity grey lighten-5">
    <div class="container">
      <div class="row flex alt">
        <div class="flex-text col">
          <h3>Design</h3>
          <p class="text-muted">
            When it comes to the User Experience, simplicity always wins. We engineer our products with simplicity at the forefront.
          </p>
        </div>
        <div class="flex-hero col">
          <div class="hero-img">
            <img class="responsive-img" src="/assets/images/work/quorum_hero.png" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="pkl-technology">
    <div class="container">
      <div class="row flex">
        <div class="flex-text col">
          <h3>Technology</h3>
          <p class="text-muted">
            We speak JavaScript, the universal language of the Web. JS allows us to create high-quality, multi-platform apps in a short amount of time.
          </p>
        </div>
        <div class="flex-hero col">
          <div class="hero-img">
            <img class="responsive-img" src="/assets/images/logos.png" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="testimoinials grey lighten-5">
    <div class="container">
      <div class="row">
        <div class="col s12 testimonial">
          <blockquote>
            <div class="heading">&quot;PKL does an excellent job in helping fledgling organizations work through the process of bringing an idea to fruition&quot;</div>
            <div class="quote">&nbsp;</div>
            <div class="source">
              <div class="source-image">
                <img class="circle" src="/assets/images/testimonials/stephen2.jpg">
              </div>
              <div class="source-person">
                <b>Stephen Pomedli</b><br>Toronto, Canada
              </div>
            </div>
          </blockquote>
        </div>
      </div>

      <div class="row">
        <div class="col s12 testimonial">
          <blockquote>
            <div class="heading">&quot;Few developers pushed as hard to understand the problem space and comb through the details with the humility of this team&quot;</div>
            <div class="quote">&nbsp;</div>
            <div class="source">
              <div class="source-image">
                <img class="circle" src="/assets/images/testimonials/ilan.jpg">
              </div>
              <div class="source-person">
                <b>Ilan Shahin</b><br>Toronto, Canada
              </div>
            </div>
          </blockquote>
        </div>
      </div>

      <div class="row">
        <div class="col s12 testimonial">
          <blockquote>
            <div class="heading">&quot;PowderKeg protected our seed capital and helped us find our market faster.&quot;</div>
            <div class="quote">&nbsp;</div>
            <div class="source">
              <div class="source-image">
                <img class="circle" src="/assets/images/testimonials/brennan_kelly.jpg">
              </div>
              <div class="source-person">
                <b>Brennan Kelly</b><br>Toronto, Canada
              </div>
            </div>
          </blockquote>
        </div>
      </div>

    </div>
  </section>

</main>
