<header class="index-header">
  <div class="flex header-fill-overlay">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <img class="index-header-logo" src="/assets/images/pkl-logo-default.png" />
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <h1 class="uvp">
            We build and run things, like...
          </h1>
          <a href="https://getquorum.com">
            <img src="/assets/images/getquorum_long_white_padded.png" class="gq-logo" />
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <br />
          <p class="grey-text text-lighten-2">
            PowderKeg Labs Inc.
            <br>10 Dundas Street East, Suite 1002
            <br>Toronto, Ontario
            <br>M5B 2G9
          </p>
        </div>
      </div>
    </div>
  </div>
</header>