<div class="card blog-card">
  <div class="card-content black-text">
    <span class="card-title"><a><%= title %><a/></span>

    <div class="date flex">
      <i class="material-icons tiny">today</i> <span class="date-text"><%= date %></span>
    </div>

    <p><%= snippet %></p>

    <div class="read-more flex"><a href="#">Read More</a></div>
  </div>
</div>
