<!-- testimonials -->
<section class="testimonials grey lighten-4" id="testimonials">
  <div class="container">
    <div class="row">
      <div class="col s12 center-align">
        <h4>Testimonials</h4>
      </div>
    </div>
    <div class="row">

      <%- partial('testimonial', {
        text: "<p>PKL was extremely patient in helping me as a non-tech savvy individual understand the processes and complexities with realizing my vision. They also did an exceptional job in presenting different options I could pursue as we built out the product, and were always very clear to outline the benefits and risks of one approach vs another.</p><p>I think I was a bit intimidated by the initial rate for the services, but in the end, was very happy with the value and felt this was a great investment. Also, I appreciated the transparency and clear estimates as to costs going forward, and the clear updates when there were minor changes.</p><p>I would absolutely recommend PKL (and I have!). As above, I think your team does an excellent job in helping fledgling organizations work through the process of bringing an idea to fruition, and clearly outlining the specifications so that the product, at whatever stage, can be built to a high quality, on budget and to meet or even exceed the client's needs.</p><p>Really appreciate all your help and guidance, JJ!</p>",
        name: 'Stephen Pomedli',
        company: '',
        url: '',
        position: '',
        image: '/assets/images/testimonials/stephen2.jpg',
        heading: '(PKL) does an excellent job in helping fledgling organizations work through the process of bringing an idea to fruition',
        location: 'Toronto, ON'
      }) %>

    </div>
    <div class="row">

      <%- partial('testimonial', {
        text: "<p>We approached Powderkeg to build software within a fairly niche sector. Despite the complexity, they took the time to understand the problem and the reasoning behind our approach. They gained a depth of understanding and enabled important discussions that allowed us to stratify our priorities in developing our product. Most shops we spoke with did not nearly match that level of commitment to critically thinking through the whole problem/solution space.</p><p>We were pleasantly surprised by how Powderkeg had much to offer for our whole business beyond software development. Additionally, they never seemed to be in sales mode since they had the confidence to stand by their work and abilities. We felt like they had our interests at heart the whole time.</p><p>Few developers pushed as hard to understand the problem space and comb through the details with the humility of this team. That's tremendously valuable and we recommend reaching out to them for that reason.</p>",
        name: 'Ilan Shahin',
        company: '',
        url: '',
        position: '',
        image: '/assets/images/testimonials/ilan.jpg',
        heading: 'Few developers pushed as hard to understand the problem space and comb through the details with the humility of this team',
        location: 'Toronto, ON'
      }) %>

    </div>
    <div class="row">

      <%- partial('testimonial', {
        text: "<p>Working with PowderKeg altered our entire approach to building a startup. We thought we 'got' the Lean Startup Methodolgy but we quickly learned we really didn't as they led us through a number of surprising Validated Learning experiments. PowderKeg protected our seed capital and helped us find our market faster.</p>",
        name: 'Brennan Kelly',
        company: ', Clover Awards',
        url: '',
        position: '',
        image: '/assets/images/testimonials/brennan_kelly.jpg',
        heading: 'PowderKeg protected our seed capital and helped us find our market faster.',
        location: 'Toronto, ON'
      }) %>


    </div>
  </div>
</section>
<!-- /testimonials -->
