section.projects {

  .row.flex {
    justify-content: space-between;
  }

  .project:not(:last-child) {
    padding-bottom: 25px;
  }

  .project:not(:first-child) {
    padding-top: 25px;
  }

  .name {
    display: block;
    font-size: 24px;
    font-weight: 600;
    padding-top: 20px;
  }

  .flex-hero {
    flex: 0 1 40%;
    order: 1;
  }
  .flex-text {
    flex: 0 1 55%;
    text-align: left;
    order: 2;
  }

  @media(min-width: 768px) {
    .alt .flex-hero {
      order: 2;
    }
    .alt .flex-text {
      order: 1;
    }
  }


  .hero-img {
    width: 100%;
  }

  .flex-hero img {
    max-height: 300px;
  }

  .categories, .technologies {
    display: block;
    // font-size: 18px;
  }


}
